@model EntityLayer.Entities.Blog.Post
@{
    ViewData["Title"] = "Post";
}

<main id="main">

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://i.ibb.co/y05Ywst/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>@Model.Title</h2>
            <ol>
                <li><a asp-action="Index" asp-area="Main" asp-controller="Home">Əsas Səhifə</a></li>
                <li>Blog</li>
            </ol>

        </div>
    </div>
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row g-5">

                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                    <article class="blog-details">

                        <div class="slides-1 portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                    @foreach (var image in Model.Images)
                                    {
                                <div class="swiper-slide">
                                    <img src="@image.Url" alt="">
                                </div>

                                    }
                               
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <h2 class="title">@Model.Title</h2>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">@Model.CreateDate</time></a></li>
                            </ul>

                        </div><!-- End meta top -->

                        <div class="content">
                            <p>
                                @Model.Body
                            </p>
                            @if(@Model.HasMainTheme == 1){
                            <blockquote>
                                <p>
                                    @Model.MainTheme
                                </p>
                            </blockquote>
                            }
                        </div><!-- End post content -->

                        <div class="meta-bottom">
                            <ul class="cats">
                            @foreach (var tag in Model.Tags)
                            {
                            <i class="bi bi-bookmark"></i>
                                <li><a href="#">@tag.Name</a></li>
                            }
                            </ul>

                        </div><!-- End meta bottom -->

                    </article><!-- End blog post -->
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

                    <div class="sidebar ps-lg-4">

                        <div class="sidebar-item search-form">
                            <h3 class="sidebar-title">Search</h3>
                            <form action="" class="mt-3">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->
                        <div class="sidebar-item tags">
                            <h3 class="sidebar-title">Tags</h3>
                            <ul class="mt-3">
                        @foreach (var tag in Model.Tags)
                                {
                                <li><a href="#">@tag.Name</a></li>
                                }
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End Blog Sidebar -->

                </div>
            </div>

        </div>
    </section><!-- End Blog Details Section -->

</main><!-- End #main -->
