@model EntityLayer.Entities.Trip
@{
    ViewData["Title"] = "Trip";
}

<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://i.ibb.co/y05Ywst/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>@Model.Name</h2>
            <ol>
                <li><a asp-action="Index" asp-controller="Home">Əsas Səhifə</a></li>
                <li>@Model.Name</li>
            </ol>
        </div>
    </div>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="slides-1 portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="https://i.ibb.co/brgPQhk/hacc-ziyareti.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.ibb.co/192TMwW/umre-ziyareti.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.ibb.co/vcNfvC6/meshed-ziyareti.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.ibb.co/ThY00yd/kerbela-ziyareti.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Ziyarət Məlumatları</h3>
                        <ul>
                            <li><strong>Ziyarətin Adı</strong>: @Model.Name</li>
                            <li><strong>Son Qeydiyyat Tarixi</strong>: @Model.RegistrationDeadline.ToShortDateString()</li>
                            <li><strong>Ziyarətə Çıxılacaq Tarix</strong>: @Model.EstimatedTripDate.ToShortDateString()</li>
                            @if(@Model.TripType == 0){
                            <li><strong>Nəqliyyat Tipi</strong>: Təyyarə</li>
                            }
                            @if(@Model.TripType == 1){
                            <li><strong>Nəqliyyat Tipi</strong>: Avtobus</li>
                            }
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>@Model.Name Haqqında Məlumat</h2>
                        <p>
                            @Model.FullDescription
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>